{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
	var tot_rows = -1;
	var tot_tweet = -1;
	function myFunction(imgs) {
	  // Get the expanded image
	  var expandImg = document.getElementById("expandedImg");
	  var tab = document.getElementById("tab");
	  // Get the image text
	  var imgText = document.getElementById("imgtext");
	  // Use the same src in the expanded image as the image being clicked on from the grid
	  expandImg.src = imgs.src;
	  // Use the value of the alt attribute of the clickable image as text inside the expanded image
	  imgText.innerHTML = imgs.alt;
	  // Show the container element (hidden with CSS)
	  expandImg.parentElement.style.display = 'block'
	  expandImg.style.display = "block";
	  tab.style.display = "block";

	}	
	function delete_img(imgs){
	  	var tab = document.getElementById("tab");
		var img = document.getElementById("expandedImg");
		var img_src =  img.src;
		var ask = window.confirm("Are you sure you want to delete this Image?");
		if (ask){
			img.parentElement.style.display = "None";
			tab.style.display = "None";
			img.style.display = 'None';
			window.location = img_src+'/delete';	
		}

		
	}
	function create_row() {
	  window.tot_rows += 1
	  var table = document.getElementById("qna");
	  var row = table.insertRow(window.tot_rows);
	  var cell1 = row.insertCell(0);
	  var cell2 = row.insertCell(1);
	  cell1.innerHTML = "<input type='text' id='q"+window.tot_rows+"' placeholder='Enter questions here' style='width:100%;'>";
	  cell2.innerHTML = "<input type='text' id='a"+window.tot_rows+"' placeholder='Enter answers here' style='width:100%;'>";
	  
	}
	function create_tweet() {
	  window.tot_tweet += 1
	  var table = document.getElementById("tweet");
	  var row = table.insertRow(window.tot_tweet);
	  var cell1 = row.insertCell(0);
	  cell1.innerHTML = "<input type='text' id='t"+window.tot_tweet+"' placeholder='Enter tweet here' style='width:100%;'>";
	  
	  
	}

	function delete_row() {
	  document.getElementById("qna").deleteRow(window.tot_rows);
	  window.tot_rows -= 1
	}
	function delete_tweet() {
	  document.getElementById("tweet").deleteRow(window.tot_tweet);
	  window.tot_tweet -= 1
	}

	function compile_frm(){
		var que_ans = {};
		var tweets = [];
 		for (var i = 0; i <= window.tot_rows; i++) {
			que_ans[document.getElementById('q'+i).value] = document.getElementById('a'+i).value
		}
		for (var i = 0; i<= window.tot_tweet;i++){
			tweets.push(document.getElementById('t'+i).value)
		}
		document.getElementById("{{form.questions.id}}").value = JSON.stringify(que_ans);
		document.getElementById("{{form.tweets.id}}").value = JSON.stringify(tweets);
		
	}
</script>

{% endblock %}


{% block content %}
<div class="container-fluid ">
<div style="float: left; width: 100%;" class="container-fluid ">
<form action="" method="post" novalidate enctype="multipart/form-data" onsubmit="compile_frm();">
<div class="card py-2" style="float: left; width: 30%;">
    <p class="h2" style="font-size: 30px;">Customize Bot</p>
    
        {{ form.hidden_tag() }}
        <p>
            {{ form.DM_reply_time.label }}
            <small>(in minutes)</small>
            {{ form.DM_reply_time() }}
        </p>
        <p>
            {{ form.tweet_time.label }}
            {{ form.tweet_time() }}
        </p>
        <p>
            {{ form.names.label }}<br>
            <small>(Enter names seperated by space)</small><br>
            {{ form.names() }}
        </p>
        <p>
            {{ form.files.label }}<br>

            {{ form.files() }}
        </p>
        <p style="display: none;" >
        	{{ form.questions() }}
        </p>
        <p style="display: none;" >
        	{{ form.tweets() }}
        </p>
        
        <p>{{ form.submit() }}</p>
    

    </div>
    </form>
    <div style="float: left; height: 100%; width: 60%;" class="card col py-2">
    	<fieldset>
    	<legend>Questions</legend>
	    	<table id="qna" style="width: 100%;" cellpadding="10px">
			</table>
			
			<div style="height: 25px;" class="text-center">
			<img onclick="delete_row()" src="{{ url_for('static',filename='minus.png') }}" class="img" style="float: right;">
			<img onclick="create_row()" src="{{ url_for('static',filename='plus.png') }}" class="img" style="float: right;">

			
			</div>
			
			
		</fieldset>
    </div>
    <div style="float: left; height: 100%; width: 60%;" class="card col py-2">
    	<fieldset>
    	<legend>Enter tweets</legend>
	    	<table id="tweet" style="width: 100%;" cellpadding="10px">
			</table>
			
			<div style="height: 25px;" class="text-center">
			<img onclick="delete_tweet()" src="{{ url_for('static',filename='minus.png') }}" class="img" style="float: right;">
			<img onclick="create_tweet()" src="{{ url_for('static',filename='plus.png') }}" class="img" style="float: right;">

			
			</div>
			
			
		</fieldset>
    </div>
    
</div>
     <div style="float: left; width: 100%;">
    	<h1 align="center">Uploaded Images</h1>
    	<div class='gallery'>
    		<div class="row">
    		{% if files %}
    			{% for file in files %}
    				<div class="column">
					    <img src="{{file}}" alt="{{file.split('/')[-1]}}" onclick="myFunction(this);">
					</div>
    			{% endfor %}
    		{% endif %}
    		</div>


		<!-- The expanding image container -->
		<div class="container">
		  <!-- Close the image -->
		  
		  <div style="background-color: black; text-align: right;" class="dispclass" id="tab">
		  <div id="imgtext" style="text-align: left;float: left; padding: 8px; font-size: 15px;"></div>
		  <span onclick="document.getElementById('expandedImg').style.display='none'; this.parentElement.style.display='none';" style="margin-right: 10px;" class="closebtn">&times;</span>
		  <span onclick="delete_img(this);" style="margin-right: 10px; font-size: 23px; height: 100%;" class="fa closebtn">&#xf014;</span><br>
		  
		  </div>
		  <!-- Expanded image -->
		  <img id="expandedImg" style="width:100%" class="dispclass">

		  
		  
		
		</div>

		</div>
</div>
</div>
<script type="text/javascript">
    	var qna_field = document.getElementById('{{form.questions.id}}');
    	var tweet_field = document.getElementById('{{form.tweets.id}}');
		var table_widget = document.getElementById('qna');
		var tweet_table = document.getElementById('tweet')
		if (qna_field.value != ""){
			qna_obj = JSON.parse(qna_field.value)
			for(const key in qna_obj){
				window.tot_rows += 1
				var row = table_widget.insertRow(window.tot_rows);
		  		var cell1 = row.insertCell(0);
		  		var cell2 = row.insertCell(1);
		  		cell1.innerHTML = "<input type='text' id='q"+window.tot_rows+"' value='"+key+"' style='width:100%;'>";
		  		cell2.innerHTML = "<input type='text' id='a"+window.tot_rows+"' value='"+qna_obj[key]+"' style='width:100%;'>";
				
		  		
			}
			
		}
		if (tweet_field.value != ""){
			twt_obj = JSON.parse(tweet_field.value)
			for(const key in twt_obj){
				window.tot_tweet += 1
				var row = tweet_table.insertRow(window.tot_tweet);
		  		var cell1 = row.insertCell(0);
		  		
		  		cell1.innerHTML = "<input type='text' id='t"+window.tot_tweet+"' value='"+twt_obj[key]+"' style='width:100%;'>";
		  		
				
		  		
			}
			
		}

    </script>
{% endblock %}