{% extends "base.html" %}



{% block content %}


<div>
  <div class="d-flex align-items-center p-3 text-white-50 bg-purple rounded box-shadow" style="
      background-color: #9b0fefcf;
      ">
    <a class="btn btn-sm btn btn-outline-light" href="/logs/clear" data-toggle="modal" data-target="#addModal" style="margin-right: 20px;">Clear Logs</a>


    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Too Cluttered?</h6>
      <small>Don't like all this "mumbo jumbo" on your screen? Clear your logs to get a better view of your tasks.</small>
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Bot Logs</h6>

    <div id='logs_disp' style="background-color: #d2d2d25c;
    margin-top: 25px;
    color: maroon;
    height: 200px;
    padding: 15px 15px 15px 15px;
    overflow-y: scroll;"
    >
    
  </div>

    <small class="d-block text-right mt-3"></small>
  </div>

</div>

<div>
	<div class="col-2" style="float: left; margin-right: 50px;">
      <h4>Activate bot</h4>
    </div>	
	<div class="col-sm-5" style="float: left;">
      <button id="tog_but" type="button" class="btn btn-lg btn-success" onclick="toggle_but()"> 
      	Start
      </button>
    </div>
</div>

<script type="text/javascript">
  
  
  async function get_log(){
    fetch('/logs').then(data=>{return data.text()})
                  .then(res=>{
                    logs = JSON.parse(res)
                    var disp = document.getElementById('logs_disp');
                    var data = "";
                    for (var i = window.logs.length - 1; i >= 0; i--) {
                      data+='<div>'+window.logs[i]+'</div>';
                      }
                    disp.innerHTML = data;
                    var objDiv = document.getElementById("logs_disp");
                    objDiv.scrollTop = objDiv.scrollHeight;                  

                  })
      return 0;      
  }
  {% if bot_status %}
  try{
  window.setTimeout(get_log(),10000)
  }catch(e){
    console.log(e)
  }

  {% else %}
  get_log()
  {% endif %}
  
	var but = document.getElementById("tog_but");
	{% if bot_status %}	
		window.but.innerHTML = "Stop"
		window.but.setAttribute('class','btn btn-lg btn-danger')	
	{% else %}
		window.but.innerHTML = "Start"
		window.but.setAttribute('class','btn btn-lg btn-success')	
	{% endif %}
	function toggle_but(){
		if(window.but.innerHTML=='Start'){
			
			window.location = "/index/activate";
		}else{
			
			window.location = "/index/deactivate";
		}
	}
		
	
</script>


{% endblock  %}
	